*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav li{
    list-style: none;
    padding-left: 20px;
    padding-top: 20px;
    margin: 10px; 
}
.bg-color{
    background: bisque;
    background-image: url(/pphotoss/header_bg.png)  , url(/pphotoss/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right , left;
    
    
}
nav ul{
    display: flex;
    padding-right: 5px;
    align-items: center;
    
}

/* header & nav titles */
.nav-title{
    font-weight: 800px;
    font-size: 45px;
}
.tp{
    color: orangered;
}
.btn{
    height: 65px;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: whitesmoke;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding: 18px 35px;
}
/* banner */
.bn{
    margin-left: 200px;
    display: flex;
    align-items: center;
}
/* main */
main{ max-width: 1140px;
    text-align: center;
    margin: 0 auto;

}
.banner-st{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}
.banner-t{
    font-weight: 700;
    font-size: 75px;
}
.banner-des{
    font-size: 18px;
    color: black;
    margin-bottom: 30px;
}
/* section styles */
.about{margin-top: 130px;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 130px 150px;

}
.secdec{ font-size: 18px;
    color: dimgray;
    margin-bottom: 30px;

}
.sectitle{ margin-bottom: 30px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
.about-info-container{
    display: flex;
    /* padding:50px; */
    /* margin: 60px */
    justify-content: space-around;
}
.about-info{
    /* padding: 20px; */
}
.info-title{
    /* padding: 20px; */
    font-size: 20px;
}
.info-desc{
    font-weight: 700;
    font-size: 20px;
    color: dimgrey;
}